<div class="mt-auto">
  <footer
    class="d-flex flex-wrap justify-content-center align-items-center py-5 mt-4 border-top bg-dark text-muted"
  >
    <p class="col-md-4 mb-0 ps-lg-5 ps-0 text-light">
      &copy; 2023 MyCampsite, Inc
    </p>

    <ul class="nav col-md-4 justify-content-end pe-lg-5 pe-0">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-light">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-light">Campgrounds</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-light">New Campgrounds</a>
      </li>
    </ul>
  </footer>
</div>
